# Sourcing Open Data Task 6.1

## This script contains the following:

### 1. Importing Libraries and Data

### 2. Wrangling Data

### 3. Cleaning Data/Consistency Checks

### 4. Descriptive Statistics

### 5. Saving CSV File

## 1. Importing Libraries

In [1]:
## Import libraries 
import pandas as pd
import numpy as np
import os

## 1. Importing Data

In [2]:
# Importing Data
df_terror = pd.read_csv(r"C:\Users\bgros\Documents\Career Foundry\10-2023 Global Terrorism Analysis\02. Data\Raw Data\Rawdf.csv", encoding = "ISO-8859-1", low_memory=True)

C:\Users\bgros\AppData\Local\Temp\ipykernel_14272\2457626037.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df_terror = pd.read_csv(r"C:\Users\bgros\Documents\Career Foundry\10-2023 Global Terrorism Analysis\02. Data\Raw Data\Rawdf.csv", encoding = "ISO-8859-1", low_memory=True)

In [3]:
## Consistency Checks
df_terror.head(3)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
## Checking shape 
df_terror.shape

(181691, 135)

## 2. Wrangling Data

### Removing data before 2000

In [3]:
## Removing rows
dropyear = df_terror[df_terror['iyear'] < 2000].index
df_terror.drop(dropyear , inplace = True)
df_terror = df_terror.reset_index(drop=True)
df_terror.head(3)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,2.000010e+11,2000,1,1,NaN,0,NaN,139,Namibia,11,...,NaN,Namibia: UNITA Rebels Reportedly Abduct 20 Vi...,Namibia: 4 Injured in Shootout; UNITA 'Bandit...,Abducted Namibians Reportedly Still Held by U...,CETIS,1,1,0,1,"200001010001, 200001010002"
1,2.000010e+11,2000,1,1,NaN,1,NaN,139,Namibia,11,...,NaN,Namibia: UNITA Rebels Reportedly Abduct 20 Vi...,Namibia: 4 Injured in Shootout; UNITA 'Bandit...,Abducted Namibians Reportedly Still Held by U...,CETIS,1,1,0,1,"200001010002, 200001010001"
2,2.000010e+11,2000,1,1,NaN,0,NaN,92,India,6,...,NaN,Lashkar 'Suicide' Squad Attacks Army Camp in ...,NaN,NaN,CETIS,1,1,0,1,NaN

In [6]:
## Consistency Checks 
df_terror.shape

(111855, 135)

### Removing Columns

In [4]:
## Removing Columns
df_terror.drop(['approxdate', 'location', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'corp1', 
                          'target1', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2',
                          'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 
                          'natlty3', 'natlty3_txt', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 
                          'guncertain2', 'guncertain3', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt',
                          'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype2', 'weaptype2_txt', 'weapsubtype2',
                          'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4',
                          'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'propvalue', 'propcomment',
                          'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid',
                          'ransompaidus', 'ransomnote', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'related', 'country',
                          'region', 'eventid', 'resolution', 'provstate', 'city', 'specificity', 'vicinity', 'summary', 
                          'alternative', 'alternative_txt', 'attacktype1', 'targtype1', 'targsubtype1', 'natlty1', 'weaptype1',
                          'weapsubtype1', 'propextent', 'hostkidoutcome'], axis =1, inplace = True)

In [8]:
## Consistency Checks 
df_terror.head(3)

,iyear,imonth,iday,extended,country_txt,region_txt,latitude,longitude,crit1,crit2,...,propextent_txt,ishostkid,nhostkid,nhostkidus,hostkidoutcome_txt,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
0,2000,1,1,0,Namibia,Sub-Saharan Africa,-17.910812,19.988303,1,1,...,NaN,0.0,NaN,NaN,NaN,NaN,1,1,0,1
1,2000,1,1,1,Namibia,Sub-Saharan Africa,-17.910812,19.988303,1,1,...,NaN,1.0,20.0,0.0,Unknown,-99.0,1,1,0,1
2,2000,1,1,0,India,South Asia,32.925224,75.135264,1,1,...,NaN,0.0,NaN,NaN,NaN,NaN,1,1,0,1

In [9]:
## Consistency Checks 
df_terror.shape

(111855, 45)

In [10]:
## Showing all Columns
pd.options.display.max_columns = 100

In [11]:
## Consistency Checks
df_terror.head(3)

,iyear,imonth,iday,extended,country_txt,region_txt,latitude,longitude,crit1,crit2,crit3,doubtterr,multiple,success,suicide,attacktype1_txt,targtype1_txt,targsubtype1_txt,natlty1_txt,gname,motive,guncertain1,individual,nperps,nperpcap,claimed,weaptype1_txt,weapsubtype1_txt,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent_txt,ishostkid,nhostkid,nhostkidus,hostkidoutcome_txt,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
0,2000,1,1,0,Namibia,Sub-Saharan Africa,-17.910812,19.988303,1,1,1,0.0,1.0,1,0,Armed Assault,Business,Restaurant/Bar/Café,Namibia,National Union for the Total Independence of A...,Unknown,0.0,0,NaN,0.0,0.0,Firearms,Unknown Gun Type,0.0,0.0,0.0,7.0,0.0,NaN,-9,NaN,0.0,NaN,NaN,NaN,NaN,1,1,0,1
1,2000,1,1,1,Namibia,Sub-Saharan Africa,-17.910812,19.988303,1,1,1,0.0,1.0,1,0,Hostage Taking (Kidnapping),Business,Entertainment/Cultural/Stadium/Casino,Namibia,National Union for the Total Independence of A...,Unknown,0.0,0,NaN,0.0,0.0,Firearms,Unknown Gun Type,0.0,0.0,0.0,7.0,0.0,NaN,-9,NaN,1.0,20.0,0.0,Unknown,-99.0,1,1,0,1
2,2000,1,1,0,India,South Asia,32.925224,75.135264,1,1,1,1.0,0.0,1,0,Armed Assault,Police,"Police Building (headquarters, station, school)",India,Lashkar-e-Taiba (LeT),Unknown,0.0,0,NaN,0.0,0.0,Firearms,Unknown Gun Type,1.0,0.0,NaN,2.0,0.0,NaN,-9,NaN,0.0,NaN,NaN,NaN,NaN,1,1,0,1

### Checking Data Types

In [12]:
## Showing some rows 
pd.options.display.max_rows = 100

In [5]:
## Checking data types 
df_terror.dtypes

iyear                   int64
imonth                  int64
iday                    int64
extended                int64
country_txt            object
region_txt             object
latitude              float64
longitude             float64
crit1                   int64
crit2                   int64
crit3                   int64
doubtterr             float64
multiple              float64
success                 int64
suicide                 int64
attacktype1_txt        object
targtype1_txt          object
targsubtype1_txt       object
natlty1_txt            object
gname                  object
motive                 object
guncertain1           float64
individual              int64
nperps                float64
nperpcap              float64
claimed               float64
weaptype1_txt          object
weapsubtype1_txt       object
nkill                 float64
nkillus               float64
nkillter              float64
nwound                float64
nwoundus              float64
nwoundte              float64
property                int64
propextent_txt         object
ishostkid             float64
nhostkid              float64
nhostkidus            float64
hostkidoutcome_txt     object
nreleased             float64
INT_LOG                 int64
INT_IDEO                int64
INT_MISC                int64
INT_ANY                 int64
dtype: object

In [6]:
## Changing Data Types 
df_terror['extended'] = df_terror['extended'].astype('category')
df_terror['crit1'] = df_terror['crit1'].astype('category')      
df_terror['crit2'] = df_terror['crit2'].astype('category')
df_terror['crit3'] = df_terror['crit3'].astype('category')
df_terror['doubtterr'] = df_terror['doubtterr'].astype('category')
df_terror['multiple'] = df_terror['multiple'].astype('category')
df_terror['success'] = df_terror['success'].astype('category')
df_terror['suicide'] = df_terror['suicide'].astype('category')
df_terror['guncertain1'] = df_terror['guncertain1'].astype('category')
df_terror['individual'] = df_terror['individual'].astype('category')
df_terror['claimed'] = df_terror['claimed'].astype('category')
df_terror['property'] = df_terror['property'].astype('category')
df_terror['ishostkid'] = df_terror['ishostkid'].astype('category')
df_terror['INT_LOG'] = df_terror['INT_LOG'].astype('category')
df_terror['INT_IDEO'] = df_terror['INT_IDEO'].astype('category')
df_terror['INT_MISC'] = df_terror['INT_MISC'].astype('category')
df_terror['INT_ANY'] = df_terror['INT_ANY'].astype('category')

In [14]:
## Consistency Checks 
df_terror.dtypes

iyear                    int64
imonth                   int64
iday                     int64
extended              category
country_txt             object
region_txt              object
latitude               float64
longitude              float64
crit1                 category
crit2                 category
crit3                 category
doubtterr             category
multiple              category
success               category
suicide               category
attacktype1_txt         object
targtype1_txt           object
targsubtype1_txt        object
natlty1_txt             object
gname                   object
motive                  object
guncertain1           category
individual            category
nperps                 float64
nperpcap               float64
claimed               category
weaptype1_txt           object
weapsubtype1_txt        object
nkill                  float64
nkillus                float64
nkillter               float64
nwound                 float64
nwoundus               float64
nwoundte               float64
property              category
propextent_txt          object
ishostkid             category
nhostkid               float64
nhostkidus             float64
hostkidoutcome_txt      object
nreleased              float64
INT_LOG               category
INT_IDEO              category
INT_MISC              category
INT_ANY               category
dtype: object

### Duplicate Values

In [16]:
## Identifying duplicated values 
df_terror[df_terror.duplicated()][1:3]

,iyear,imonth,iday,extended,country_txt,region_txt,latitude,longitude,crit1,crit2,crit3,doubtterr,multiple,success,suicide,attacktype1_txt,targtype1_txt,targsubtype1_txt,natlty1_txt,gname,motive,guncertain1,individual,nperps,nperpcap,claimed,weaptype1_txt,weapsubtype1_txt,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent_txt,ishostkid,nhostkid,nhostkidus,hostkidoutcome_txt,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
23,2000,1,1,0,Bangladesh,South Asia,22.341896,91.815117,1,1,1,0.0,1.0,1,0,Armed Assault,Private Citizens & Property,Village/City/Town/Suburb,Bangladesh,Unknown,An attempt to disrupt the local elections on J...,0.0,0,NaN,NaN,0.0,Explosives,Unknown Explosive Type,NaN,0.0,NaN,NaN,0.0,NaN,1,Unknown,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9
40,2000,1,3,0,United States,North America,39.103175,-84.511981,1,1,1,0.0,1.0,0,0,Bombing/Explosion,Abortion Related,Clinics,United States,Anti-Abortion extremists,To protest the practice of abortion and to sab...,0.0,0,-99.0,-99.0,0.0,Explosives,Letter Bomb,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9

In [21]:
## Counting duplicated Values 
(df_terror.duplicated()).value_counts()

False    106158
dtype: int64

In [18]:
## Verying duplicates 
df_terror[(df_terror['country_txt'] == 'United States') & ( df_terror['latitude'] == 39.103175) ]

,iyear,imonth,iday,extended,country_txt,region_txt,latitude,longitude,crit1,crit2,crit3,doubtterr,multiple,success,suicide,attacktype1_txt,targtype1_txt,targsubtype1_txt,natlty1_txt,gname,motive,guncertain1,individual,nperps,nperpcap,claimed,weaptype1_txt,weapsubtype1_txt,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent_txt,ishostkid,nhostkid,nhostkidus,hostkidoutcome_txt,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
39,2000,1,3,0,United States,North America,39.103175,-84.511981,1,1,1,0.0,1.0,0,0,Bombing/Explosion,Abortion Related,Clinics,United States,Anti-Abortion extremists,To protest the practice of abortion and to sab...,0.0,0,-99.0,-99.0,0.0,Explosives,Letter Bomb,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9
40,2000,1,3,0,United States,North America,39.103175,-84.511981,1,1,1,0.0,1.0,0,0,Bombing/Explosion,Abortion Related,Clinics,United States,Anti-Abortion extremists,To protest the practice of abortion and to sab...,0.0,0,-99.0,-99.0,0.0,Explosives,Letter Bomb,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9

In [8]:
## Dropping Duplicates 
df_terror.drop_duplicates(keep=False, inplace=True)

In [20]:
## Consistency Checks 
df_terror.shape

(106158, 45)

## 3. Cleaning Data/Consistency Checks

### Mixed Type Data

In [9]:
## Resetting Index 
df_terror = df_terror.reset_index(drop=True)

In [23]:
## Checking for mixed type data 
for col in df_terror.columns.tolist():
  weird = (df_terror[[col]].applymap(type) != df_terror[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_terror[weird]) > 0:
    print (col)

targsubtype1_txt
natlty1_txt
motive
weapsubtype1_txt
propextent_txt
hostkidoutcome_txt

In [24]:
## Seeing why they are mixed 
(df_terror[['motive']].applymap(type) != df_terror[['motive']].iloc[0].apply(type)).any(axis = 1)

0         False
1         False
2         False
3         False
4         False
          ...
106153     True
106154     True
106155     True
106156     True
106157     True
Length: 106158, dtype: bool

In [25]:
## Seeing why they are true...there are Nan values 
df_terror[106153:106158]

,iyear,imonth,iday,extended,country_txt,region_txt,latitude,longitude,crit1,crit2,crit3,doubtterr,multiple,success,suicide,attacktype1_txt,targtype1_txt,targsubtype1_txt,natlty1_txt,gname,motive,guncertain1,individual,nperps,nperpcap,claimed,weaptype1_txt,weapsubtype1_txt,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent_txt,ishostkid,nhostkid,nhostkidus,hostkidoutcome_txt,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
106153,2017,12,31,0,Somalia,Sub-Saharan Africa,2.359673,45.385034,1,1,0,1.0,0.0,1,0,Armed Assault,Military,Military Checkpoint,Somalia,Al-Shabaab,NaN,0.0,0,-99.0,0.0,1.0,Firearms,Unknown Gun Type,1.0,0.0,0.0,2.0,0.0,0.0,-9,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0,0
106154,2017,12,31,0,Syria,Middle East & North Africa,35.407278,35.942679,1,1,0,1.0,0.0,1,0,Bombing/Explosion,Military,Military Barracks/Base/Headquarters/Checkpost,Russia,Muslim extremists,NaN,0.0,0,-99.0,0.0,0.0,Explosives,"Projectile (rockets, mortars, RPGs, etc.)",2.0,0.0,0.0,7.0,0.0,0.0,1,Unknown,0.0,NaN,NaN,NaN,NaN,-9,-9,1,1
106155,2017,12,31,0,Philippines,Southeast Asia,6.900742,124.437908,1,1,1,0.0,0.0,1,0,Facility/Infrastructure Attack,Private Citizens & Property,House/Apartment/Residence,Philippines,Bangsamoro Islamic Freedom Movement (BIFM),NaN,0.0,0,-99.0,0.0,0.0,Incendiary,Arson/Fire,0.0,0.0,0.0,0.0,0.0,0.0,1,Unknown,0.0,NaN,NaN,NaN,NaN,0,0,0,0
106156,2017,12,31,0,India,South Asia,24.798346,93.940430,1,1,1,0.0,0.0,0,0,Bombing/Explosion,Government (General),Government Building/Facility/Office,India,Unknown,NaN,0.0,0,-99.0,0.0,0.0,Explosives,Grenade,0.0,0.0,0.0,0.0,0.0,0.0,-9,NaN,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9
106157,2017,12,31,0,Philippines,Southeast Asia,7.209594,124.241966,1,1,1,0.0,0.0,0,0,Bombing/Explosion,Unknown,NaN,Philippines,Unknown,NaN,0.0,0,-99.0,0.0,0.0,Explosives,Unknown Explosive Type,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,-9,-9,0,-9

In [10]:
## Adding missing if value is NaN
df_terror['motive'].fillna('Missing', inplace=True)
df_terror['targsubtype1_txt'].fillna('Missing', inplace=True)
df_terror['natlty1_txt'].fillna('Missing', inplace=True)
df_terror['weapsubtype1_txt'].fillna('Missing', inplace=True)
df_terror['propextent_txt'].fillna('Missing', inplace=True)
df_terror['hostkidoutcome_txt'].fillna('Missing', inplace=True)

In [27]:
## Seeing if they are mixed anymore...and they are not 
(df_terror[['motive']].applymap(type) != df_terror[['motive']].iloc[0].apply(type)).any(axis = 1)

0         False
1         False
2         False
3         False
4         False
          ...
106153    False
106154    False
106155    False
106156    False
106157    False
Length: 106158, dtype: bool

### Missing Values

In [28]:
## Checking for missing values 
df_terror.isnull().sum()

iyear                     0
imonth                    0
iday                      0
extended                  0
country_txt               0
region_txt                0
latitude                807
longitude               807
crit1                     0
crit2                     0
crit3                     0
doubtterr                 1
multiple                  1
success                   0
suicide                   0
attacktype1_txt           0
targtype1_txt             0
targsubtype1_txt          0
natlty1_txt               0
gname                     0
motive                    0
guncertain1             338
individual                0
nperps                10986
nperpcap               2747
claimed                   0
weaptype1_txt             0
weapsubtype1_txt          0
nkill                  3873
nkillus                 340
nkillter               2430
nwound                 7422
nwoundus                539
nwoundte               4101
property                  0
propextent_txt            0
ishostkid                 3
nhostkid              97262
nhostkidus            97315
hostkidoutcome_txt        0
nreleased             97497
INT_LOG                   0
INT_IDEO                  0
INT_MISC                  0
INT_ANY                   0
dtype: int64

In [29]:
## Checking how hostage is reported 
df_terror['attacktype1_txt'].unique()

array(['Armed Assault', 'Hostage Taking (Kidnapping)',
       'Bombing/Explosion', 'Facility/Infrastructure Attack', 'Unknown',
       'Unarmed Assault', 'Assassination', 'Hijacking',
       'Hostage Taking (Barricade Incident)'], dtype=object)

In [30]:
## Counting how many hostages situations there were 
count = df_terror['attacktype1_txt'].value_counts()[['Hostage Taking (Kidnapping)','Hostage Taking (Barricade Incident)']].sum()
count

8175

In [31]:
## Consistency Checks 
df_terror[( df_terror['attacktype1_txt'] == 'Hostage Taking (Kidnapping)') | ( df_terror['attacktype1_txt'] == 'Hostage Taking (Barricade Incident)')]

,iyear,imonth,iday,extended,country_txt,region_txt,latitude,longitude,crit1,crit2,crit3,doubtterr,multiple,success,suicide,attacktype1_txt,targtype1_txt,targsubtype1_txt,natlty1_txt,gname,motive,guncertain1,individual,nperps,nperpcap,claimed,weaptype1_txt,weapsubtype1_txt,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent_txt,ishostkid,nhostkid,nhostkidus,hostkidoutcome_txt,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
1,2000,1,1,1,Namibia,Sub-Saharan Africa,-17.910812,19.988303,1,1,1,0.0,1.0,1,0,Hostage Taking (Kidnapping),Business,Entertainment/Cultural/Stadium/Casino,Namibia,National Union for the Total Independence of A...,Unknown,0.0,0,NaN,0.0,0.0,Firearms,Unknown Gun Type,0.0,0.0,0.0,7.0,0.0,NaN,-9,Missing,1.0,20.0,0.0,Unknown,-99.0,1,1,0,1
82,2000,1,13,1,Uganda,Sub-Saharan Africa,2.772404,32.288073,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Private Citizens & Property,Unnamed Civilian/Unspecified,Uganda,Lord's Resistance Army (LRA),Unknown,0.0,0,NaN,0.0,0.0,Unknown,Missing,0.0,0.0,0.0,0.0,0.0,0.0,1,Unknown,1.0,30.0,0.0,Unknown,-99.0,0,0,0,0
98,2000,1,16,1,India,South Asia,23.826754,91.431903,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Private Citizens & Property,Unnamed Civilian/Unspecified,India,National Liberation Front of Tripura (NLFT),Unknown,1.0,0,NaN,0.0,0.0,Firearms,Unknown Gun Type,0.0,0.0,0.0,0.0,0.0,0.0,0,Missing,1.0,4.0,0.0,Unknown,-99.0,0,1,0,1
104,2000,1,17,1,Yemen,Middle East & North Africa,NaN,NaN,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Private Citizens & Property,Race/Ethnicity Identified,France,Unknown,The tribesmen wanted an increase in government...,0.0,0,NaN,0.0,0.0,Unknown,Missing,0.0,0.0,0.0,0.0,0.0,0.0,0,Missing,1.0,4.0,0.0,Hostage(s) released by perpetrators,4.0,-9,-9,1,1
132,2000,1,25,1,Yemen,Middle East & North Africa,15.502404,45.449854,1,1,1,1.0,0.0,1,0,Hostage Taking (Kidnapping),Utilities,Oil,United States,Tribesmen,Unknown,0.0,0,NaN,0.0,0.0,Unknown,Missing,0.0,0.0,0.0,0.0,0.0,0.0,0,Missing,1.0,1.0,1.0,Hostage(s) released by perpetrators,1.0,-9,-9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106091,2017,12,28,1,Afghanistan,South Asia,34.538974,68.658338,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Educational Institution,Teacher/Professor/Instructor,Afghanistan,Unknown,Missing,0.0,0,-99.0,0.0,0.0,Firearms,Unknown Gun Type,0.0,0.0,0.0,0.0,0.0,0.0,0,Missing,1.0,3.0,0.0,Successful Rescue,3.0,-9,-9,0,-9
106101,2017,12,28,1,Philippines,Southeast Asia,7.135539,125.057363,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Police,Police Security Forces/Officers,Philippines,New People's Army (NPA),Missing,0.0,0,2.0,0.0,1.0,Firearms,Unknown Gun Type,NaN,0.0,0.0,NaN,0.0,0.0,0,Missing,1.0,1.0,0.0,Unknown,-99.0,0,0,0,0
106104,2017,12,29,1,Afghanistan,South Asia,35.974879,65.381563,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Religious Figures/Institutions,Religious Figure,Afghanistan,Khorasan Chapter of the Islamic State,Missing,0.0,0,-99.0,0.0,0.0,Unknown,Missing,NaN,0.0,0.0,NaN,0.0,0.0,0,Missing,1.0,12.0,0.0,Unknown,-99.0,0,1,0,1
106127,2017,12,30,0,Ukraine,Eastern Europe,49.993500,36.230383,0,1,1,1.0,0.0,1,1,Hostage Taking (Barricade Incident),Government (General),Government Building/Facility/Office,Ukraine,Unknown,"The specific motive is unknown; however, sourc...",0.0,0,1.0,1.0,0.0,Explosives,Suicide (carried bodily by human being),0.0,0.0,0.0,1.0,0.0,1.0,0,Missing,1.0,11.0,0.0,Successful Rescue,11.0,-9,-9,0,-9
106151,2017,12,31,0,India,South Asia,25.180162,93.015788,1,1,1,0.0,0.0,1,0,Hostage Taking (Kidnapping),Government (General),Politician or Political Party Movement/Meeting...,India,Zeliangrong United Front,Missing,0.0,0,-99.0,0.0,0.0,Firearms,Automatic or Semi-Automatic Rifle,0.0,0.0,0.0,0.0,0.0,0.0,0,Missing,1.0,1.0,0.0,Successful Rescue,1.0,0,0,0,0

In [32]:
## Counting how many missing values are from hostage incidents 
df_terror['ishostkid'][( df_terror['attacktype1_txt'] == 'Hostage Taking (Kidnapping)') | ( df_terror['attacktype1_txt'] == 'Hostage Taking (Barricade Incident)')].value_counts()

1.0     8019
0.0      147
-9.0       9
Name: ishostkid, dtype: int64

### Spelling Checks

In [33]:
## Checking to make sure there are no spelling mistakes 
df_terror['country_txt'].sort_values().unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia-Herzegovina', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mexico', 'Moldova', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Qatar', 'Republic of the Congo',
       'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia-Montenegro', 'Sierra Leone', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Lucia', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'West Bank and Gaza Strip', 'Western Sahara', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

In [34]:
# Checking to make sure there are no spelling mistakes 
df_terror['region_txt'].unique()

array(['Sub-Saharan Africa', 'South Asia', 'Eastern Europe',
       'Middle East & North Africa', 'Western Europe', 'North America',
       'South America', 'Central Asia', 'Southeast Asia', 'East Asia',
       'Central America & Caribbean', 'Australasia & Oceania'],
      dtype=object)


## 4. Descriptive Stats

In [35]:
## Checking descriptive stats not including -9 and -99 as these represent unknowns and saving as CSV
description = df_terror[(df_terror != -99) & (df_terror != -9)].describe()
description.to_csv(r"C:\Users\bgros\Documents\Career Foundry\10-2023 Global Terrorism Analysis\04. Analysis\Description.csv")

In [36]:
description

,iyear,imonth,iday,latitude,longitude,nperps,nperpcap,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,nhostkid,nhostkidus,nreleased
count,106158.000000,106158.000000,106158.000000,105350.000000,105351.000000,19019.000000,102573.000000,102285.000000,105818.000000,103728.00000,98736.000000,105619.000000,102057.000000,8463.000000,8793.000000,5377.000000
mean,2012.182464,6.465033,15.586173,26.373077,51.788237,13.971923,0.120617,2.603177,0.038528,0.52254,3.861206,0.016380,0.113172,11.384852,0.050836,6.831505
std,4.163704,3.383985,8.819229,13.302455,36.192082,87.677787,2.123492,12.611095,5.874611,4.23566,39.850967,0.757734,1.549536,90.501498,1.336063,56.393724
min,2000.000000,1.000000,0.000000,-42.884049,-124.224996,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010.000000,4.000000,8.000000,15.470037,39.355545,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,2013.000000,6.000000,15.000000,32.370010,44.843590,2.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000
75%,2015.000000,9.000000,23.000000,34.208416,71.002500,5.000000,0.000000,2.000000,0.000000,0.00000,3.000000,0.000000,0.000000,5.000000,0.000000,2.000000
max,2017.000000,12.000000,31.000000,65.825119,179.366667,5000.000000,406.000000,1570.000000,1360.000000,500.00000,8191.000000,151.000000,200.000000,5350.000000,86.000000,2769.000000

## 5. Saving Final Output

In [12]:
df_terror.to_csv(r"C:\Users\bgros\Documents\Career Foundry\10-2023 Global Terrorism Analysis\02. Data\Clean Data\Clean_Terror_Data.csv", index=False)